<!DOCTYPE html>

<html>
    <head>
        <title>
            Learning Django in 1 day
        </title>
    </head>
    <body>
        <h1>
            {{ greeting_message | title }}
        </h1>
        <h3>
            {{ random_message }}
        </h3>
        {% if weekday_list %}
            <p>Weekday list is defined.</p>
            <ul>
                {% for day in weekday_list %}
                    <li>
                        {{ day | title | slice:":3" }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Weekday list is not defined.</p>
        {% endif %}
    </body>
</html>